<!doctype html>
<html lang="en">
  <head>
    {{ template "common_head" . }}
  </head>
  <body class="{{ template "body_class" }}">
    {{ template "wrapper_open" . }}
    <h2 class="flex flex-col items-center text-2xl">Active search</h2>

    <input
      class="px-4 py-2 text-gray-900"
      type="text"
      placeholder="eg. John Doe"
    />
    <div
      class="flex h-56 flex-col gap-2 overflow-y-auto rounded-md bg-zinc-50 p-2 text-zinc-900"
    >
      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Mario
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Luigi
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Peach
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Toad
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Toad
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Toad
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Toad
      </button>

      <button
        class="rounded-md p-2 text-start hover:bg-zinc-600 hover:text-zinc-200"
      >
        Toad
      </button>
    </div>

    {{ template "wrapper_close" . }}
  </body>
</html>
