{{ define "userlist_entry" }}
  <div
    class="flex h-14 shrink-0 items-center rounded-bl-full rounded-br-md rounded-tl-full rounded-tr-md bg-zinc-600 p-1"
  >
    <div class="self-stretch overflow-hidden rounded-full bg-zinc-500">
      <img class="h-[100%]" src="{{ .Avatar }}" />
    </div>
  </div>
{{ end }}

{{ define "load_more" }}
  <div
    class="animate-pulse bg-slate-800 p-4"
    hx-trigger="intersect once"
    hx-get="./userlist?from={{ .From }}&size={{ .Size }}"
    hx-target="this"
    hx-swap="outerHTML"
  >
    Loading more users...
  </div>
{{ end }}


<!doctype html>
<html lang="en">
  <head>
    {{ template "common_head" . }}
  </head>
  <body class="{{ template "body_class" }}">
    {{ template "wrapper_open" . }}
    <h2 class="flex flex-col items-center text-2xl">User list</h2>
    <div class="relative grow">
      <div
        class="absolute inset-0 flex flex-col items-stretch gap-4 overflow-y-auto rounded-md bg-zinc-700 p-2"
      >
        {{ range $i, $user := .Users }}
          {{ template "userlist_entry" $user }}
        {{ end }}

        {{ template "load_more" .LoadMore }}
      </div>
    </div>
    {{ template "wrapper_close" . }}
  </body>
</html>
